[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
setuptools = "*"

[packages]
pandas = "*"
sqlalchemy = "*"
cx-oracle = "*"
kazoo = "*"
xlrd = "*"
pandas-schema = "*"
pymysql = "*"
pymssql = "*"
cython = "*"
pymongo = "*"
requests = "*"
simplejson = "*"

[requires]
python_version = "3.7"
